<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.base_url }}/workshop-info">Workshop Info</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Curriculum <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            {% assign sorted_curriculum = site.curriculum | sort: 'weight' %}
            {% for page in sorted_curriculum %}
            <li>
              <a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
            <li class="divider"></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.base_url }}/volunteer">Volunteer</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ site.base_url }}/sponsors">Sponsors</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
